{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header">
            <h4 class="card-title"> Simple Table</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter " id="">
                <thead class=" text-primary">
                  <tr>
                    <th>
                      Name
                    </th>
                    <th>
                      Products
                    </th>
                    <th>
                      Last Scraped Date
                    </th>
                    <th class="text-center">
                      Scrap
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <p>Oriental</p>
                      <input type="number" class="form-control mt-3" placeholder="category" id="oriental_category" />
                      <input type="text" class="form-control mt-3" placeholder="Description" id="description" />
                    </td>
                    <td>
                      <p>3</p>
                      <input type="number" class="form-control mt-3" placeholder="DB category" id="oriental_db_category" />
                      <input type="text" class="form-control mt-3" placeholder="Arabic description" id="arabic_description" />
                    </td>
                    <td>
                      07-10-2024
                    </td>
                    <td class="text-center">
                      <button type="button" class="btn" onclick="scrap()">
                        Scrap
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>Cashmere</p>
                      <input type="text" class="form-control mt-3" placeholder="URL" id="cashmere_url" />
                    </td>
                    <td>
                      <p>3</p>
                      <input type="text" class="form-control mt-3" placeholder="Category" id="cashmere_db_category" />
                    </td>
                    <td>
                      <p>07-10-2024</p>
                    </td>
                    <td class="text-center">
                      <button type="button" class="btn" onclick="secScrapView('https://www.cashmerecosmetics.com/language/en/product-category/bath-body/bath-shower-gel/')">
                        Scrap
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>Gameak</p>
                      <input type="text" class="form-control mt-3" placeholder="URL" id="gameak_url" />
                    </td>
                    <td>
                      <p>3</p>
                      <input type="text" class="form-control mt-3" placeholder="Category" id="gameak_db_category" />
                    </td>
                    <td>
                      07-10-2024
                    </td>
                    <td class="text-center">
                      <button type="button" class="btn" onclick="gameakScrapView()">
                        Scrap
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>Palestinian house</p>
                      <input type="text" class="form-control mt-3" placeholder="URL" id="palestinian_url" />
                    </td>
                    <td>
                      <p>3</p>
                      <input type="text" class="form-control mt-3" placeholder="Category" id="palestinian_db_category" />
                    </td>
                    <td>
                      07-10-2024
                    </td>
                    <td class="text-center">
                      <button type="button" class="btn" onclick="palestinianScrapView()">
                        Scrap
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>Vikusha</p>
                      <input type="text" class="form-control mt-3" placeholder="URL" id="vikusha_url" />
                    </td>
                    <td>
                      <p>3</p>
                      <input type="text" class="form-control mt-3" placeholder="Category" id="vikusha_db_category" />
                    </td>
                    <td>
                      07-10-2024
                    </td>
                    <td class="text-center">
                      <button type="button" class="btn" onclick="vikushaScrapView()">
                        Scrap
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>GTS</p>
                      <input type="text" class="form-control mt-3" placeholder="URL" id="gts_url" />
                    </td>
                    <td>
                      <p>3</p>
                      <input type="text" class="form-control mt-3" placeholder="Category" id="gts_db_category" />
                    </td>
                    <td>
                      07-10-2024
                    </td>
                    <td class="text-center">
                      <button type="button" class="btn" onclick="gtsScrapView()">
                        Scrap
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

const csrftoken = getCookie('csrftoken');

  function scrap(url) {
    fetch("/api/scrap", {
      method: "POST",
      headers: {
          "Content-Type": "application/json",
          'X-CSRFToken': csrftoken,
      },
      body: JSON.stringify({ id: "1",
        url: url, 
        category: document.getElementById('oriental_category').value, 
        db_category: document.getElementById('oriental_db_category').value,
        description: document.getElementById('description').value,
        arabic_description: document.getElementById('arabic_description').value,
      })
    })
    .then(response => response.json())
    .then(data => console.log(data))
    .catch(error => console.error("Error:", error));

  }
  function secScrapView() {
    fetch("/api/SecScrapView", {
      method: "POST",
      headers: {
          "Content-Type": "application/json",
          'X-CSRFToken': csrftoken,
      },
      body: JSON.stringify({ 
        id: "1",
        url: document.getElementById('cashmere_url').value, 
        db_category: document.getElementById('cashmere_db_category').value, 
      })
    })
    .then(response => response.json())
    .then(data => console.log(data))
    .catch(error => console.error("Error:", error));

  }

  function gameakScrapView() {
    fetch("/api/GameakScrapView", {
      method: "POST",
      headers: {
          "Content-Type": "application/json",
          'X-CSRFToken': csrftoken,
      },
      body: JSON.stringify({ id: "1",
      url: document.getElementById('gameak_url').value, 
      db_category: document.getElementById('gameak_db_category').value, 
    })
    })
    .then(response => response.json())
    .then(data => console.log(data))
    .catch(error => console.error("Error:", error));

  }
  
  function palestinianScrapView() {
    fetch("/api/PalestinianScrapView", {
      method: "POST",
      headers: {
          "Content-Type": "application/json",
          'X-CSRFToken': csrftoken,
      },
      body: JSON.stringify({ id: "1",
      url: document.getElementById('palestinian_url').value, 
      db_category: document.getElementById('palestinian_db_category').value, 
    })
    })
    .then(response => response.json())
    .then(data => console.log(data))
    .catch(error => console.error("Error:", error));

  }

  function vikushaScrapView() {
    fetch("/api/VikushaScrapView", {
      method: "POST",
      headers: {
          "Content-Type": "application/json",
          'X-CSRFToken': csrftoken,
      },
      body: JSON.stringify({ id: "1",
      url: document.getElementById('vikusha_url').value, 
      db_category: document.getElementById('vikusha_db_category').value, 
    })
    })
    .then(response => response.json())
    .then(data => console.log(data))
    .catch(error => console.error("Error:", error));

  }

  function gtsScrapView() {
    fetch("/api/GTSScrapView", {
      method: "POST",
      headers: {
          "Content-Type": "application/json",
          'X-CSRFToken': csrftoken,
      },
      body: JSON.stringify({ id: "2802",
      url: document.getElementById('gts_url').value, 
      db_category: document.getElementById('gts_db_category').value, 
    })
    })
    .then(response => response.json())
    .then(data => console.log(data))
    .catch(error => console.error("Error:", error));

  }
</script>
{% endblock javascripts %}
